#clockcontainer {
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    /* height: 440px;
    width: 440px; */
    background: url(clock.png) no-repeat;
    background-size: 100%;
}
h1 {
    text-align: center;
}
#hour, #minute, #second{
    position: absolute;
    border-radius: 10px;
    background: black;
}

#hour{
    width: 1.5%;
    height: 23%;
    top: 27%;
    left: 49.1%;
    opacity: 10;
    transform-origin: bottom;
    /* display: none; */
}
#minute{
    width: 1.2%;
    height: 28%;
    top: 21%;
    left: 49.2%;
    opacity: 0.7;
    transform-origin: bottom;
    /* display: none; */

}
#second{
    width: 1%;
    height: 35%;
    top: 14%;
    left: 49.3%;
    opacity: 0.4;
    transform-origin: bottom;
    /* display: none; */
}